# Dependency directories
node_modules/
package-lock.json

# rollup.js default build output
dist/
build/

# Contenido uploads
/uploads/compressors/*.rar
/uploads/compressors/*.zip
/uploads/compressors/*.7z

/uploads/documents/*.csv
/uploads/documents/*.doc
/uploads/documents/*.docx
/uploads/documents/*.pdf
/uploads/documents/*.ppt
/uploads/documents/*.pptx
/uploads/documents/*.xls
/uploads/documents/*.xlsx

/uploads/images/*.jpeg
/uploads/images/*.jpg
/uploads/images/*.png
/uploads/images/*.gif

# Serverless directories
.serverless/

### VisualStudioCode ###
.vscode/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history