# Dependency directories
node_modules/
package-lock.json

# rollup.js default build output
dist/
build/

# Serverless directories
.serverless/

### VisualStudioCode ###
.vscode/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history