# Dependency directories
node_modules/
package-lock.json

# rollup.js default build output
dist/
build/

# Contenido uploads
#!uploads/compressor/
#!uploads/documents/
#!uploads/images/

/uploads/compressor/*
/uploads/documents/*
/uploads/images/*

# Serverless directories
.serverless/

### VisualStudioCode ###
.vscode/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history